* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
  box-shadow: none;
  border: none;
  line-height: initial;
}

body {
  animation-name: opacityFade;
  animation-duration: 1s;
}

@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  min-height: 14vh;
  background-color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: rgb(241, 241, 241);
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 800;
  margin-left: -50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
  z-index: 10;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
  vertical-align: middle;
  z-index: 0;
  overflow: hidden;
}

.footer-links li {
  transition: 0.2s;
}
.footer-links li:hover {
  transition: 0.2s;
  transform: scale(1.25);
}

.nav-links a {
  color: rgb(241, 241, 241);
  letter-spacing: 1px;
  font-size: 16px;
  transition: 0.4s;
}

.nav-links :hover {
  color: rgb(194, 194, 194);
  text-decoration: underline;
}

.burger {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(241, 241, 241);
  margin: 5px;
  transition: 0.3s;
}

@media screen and (max-width: 1150px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 8vh;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform, 0.5s ease-out;
  }

  .nav-links li {
    opacity: 1;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.link {
  display: inline-block;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: 0.3s;
}
.toggle .line2 {
  opacity: 0;
  transition: 0.3s;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: 0.3s;
}

.About {
  display: block;
  padding: 40px;
  justify-content: space-around;

  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  word-break: normal;
  width: 100%;
}

.Projects {
  display: block;
  padding: 20px;
  justify-content: space-around;

  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  word-break: normal;
}

.connectLinks {
  width: 100%;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connectLinkItem {
  width: 90%;
  margin-bottom: 10px;
}
.connectLinkButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
  height: 14vh;
}
.connectLinkButton:hover {
  background-color: rgb(39, 39, 39);
  border: 2px solid white;
  color: white;
}
.connectLinkButton p {
  font-size: large;
  font-weight: 500;
}

.email {
  font-size: 100px;
}
@media screen and (max-width: 1100px) {
  .logo {
    margin-left: 0px;
  }
  .About {
    margin-left: 0px;
  }
  .footer-links {
    width: 70%;
  }
  .email {
    font-size: 2px;
  }
}
